<html>
<head>
    <title>Lista de Zippers</title>
    <style>
        .title {
            margin-bottom: 20px;
        }
        .table {
            width: 100%;
            border: solid 1px black;
        }
        .header {
            font-size: 14px;
            font-weight: bold;
        }
        .row {
            width: 100%;
            font-size: 12px;
            font-weight: 200;
        }

    </style>
</head>
<body>
    <div class="title">
        <h2>Lista de Zippi Aliados</h2>
    </div>
    <table class="table">
        <thead class="header">
            <th>
                Nombre
            </th>
            <th>
                RIF
            </th>
            <th>
                Email
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Estado
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Fecha de registro
            </th>
        </thead>
        <tbody>
            <% riders.forEach(function (rider) { %>
                <tr class="row">
                    <td>
                        <%= rider.title %>
                    </td>
                    <td>
                        <%= rider.rif %>
                    </td>
                    <td>
                        <%= rider.email %>
                    </td>
                    <td>
                        <%= rider.phone %>
                    </td>
                    <td>
                        <%= rider.state %>
                    </td>
                    <td>
                        <%= rider.city %>
                    </td>
                    <td>
                        <%= rider.createdAt %>
                    </td>
                </tr>
            <% })%>
        </tbody>
    </table>
    <div id="pageFooter"></div>
</body>
</html>