<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
        content="IE=edge"
        http-equiv="X-UA-Compatible"
    />
    <meta
        content="width=device-width, initial-scale=1.0"
        name="viewport"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet"
    />
    <title>Document</title>
    <style type="text/css">
        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        p,
        a,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 0.5rem;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0 auto;
        }

        .container {
            background-color: #ffffff;
            margin: 0 auto;
            max-height: 800px;
            position: relative;
            width: 300px;
        }

        .head {
            background-color: #4979d0;
            background-position: center center;
            background-size: cover;
            padding: 2rem;
            color: white !important;
        }

        .containerContent {

        }

        .sectionImage {
            text-align: center;
        }


        .head p {
            color: white;
        }

        .sectionContent {
            border: 0.3px solid #eeeeee;
            background-color: #f0f1f3;
            margin: 0 0;
            padding: 0.5rem 1rem;
        }

        .field {
            -ms-flex-align: center;
            -ms-flex-direction: row;
            -ms-flex-pack: justify;
            -webkit-box-align: center;
            -webkit-box-direction: normal;
            -webkit-box-orient: horizontal;
            -webkit-box-pack: justify;
            align-items: center;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0.5rem 0;
        }

        .field :first-child {
            -webkit-box-flex: 10%;
            -ms-flex: 10%;
            flex: 10%;
        }

        .field :nth-last-child(2) {
            -webkit-box-flex: 80%;
            -ms-flex: 80%;
            flex: 80%;
        }

        .field :nth-last-child(3) {
            -webkit-box-flex: 10%;
            -ms-flex: 10%;
            flex: 10%;
        }

        .divider {
            border: 1px dashed #dfdfdf;
            margin: 1rem 0;
        }


        .totalPay h4 {
            margin: 0.5rem 0;
        }

        .product {
            margin: 1.2rem 0 0 0;
        }

        .headerTitle {
            color: white;
            padding: 0.5rem 1rem;
            font-size: 14px;
            background-color: #4979d0;
        }

        .sectionContent p {
            margin-bottom: 0.5em;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="head">
        <div class="sectionImage">
            <img
                src="https://firebasestorage.googleapis.com/v0/b/zippi-market-dev-a6385.appspot.com/o/static%2Flogo-pdf.png?alt=media&token=91cced3d-f804-470d-8dce-25c44ff22ed5"
                style="width:90px"
            />
        </div>
        <div style="text-align:center; margin-top:20px">
            <h2 style="font-size:0.6em">Este es el recibo de tu semana, {{CLIENT_NAME}}.</h2>
        </div>

        <div style="text-align:center; margin-top:20px">
            <h2 style="font-size:0.6em">¡Gracias por ser nuestro aliado!</h2>
        </div>

    </div>
    <div class="containerContent">
        <div class="sectionContent">
            <div style=" display: flex; gap: 1rem; flex-direction: row;">
                <div style="flex:1">
                    <p>
                        Zippi market inc
                    </p>
                    <p>
                        8 The Green, Set A
                    </p>
                    <p>
                        Dover, Kent
                    </p>
                    <p>
                        Zip Code 19901
                    </p>
                    <p>
                        United States
                    </p>
                    <p>
                        +1 (302) 608-9039
                    </p>
                    <p>
                        pagos@zipimarket.com
                    </p>

                </div>
                <div style="flex:0.5; justify-content: flex-end">
                    <p>
                        Fecha: {{INVOICE_DATE}}
                    </p>
                    <p>
                        Recibo #{{INVOICE_NUMBER}}
                    </p>

                </div>
            </div>

        </div>

        <div style="border-bottom: 2px solid grey"></div>


        <div class="sectionContent">
            <div style=" display: flex; gap: 1rem; padding-top: 2px; flex-direction: row;">
                <div style="flex:1">
                    <p>
                        Pagado a: {{CLIENT_NAME}}
                    </p>
                    <p>
                        RIF: {{CLIENT_RIF}}
                    </p>
                    <p>
                        Dirección: {{CLIENT_ADDRESS}}
                    </p>
                    <p>
                        {{CLIENT_EMAIL}}
                    </p>
                    <p>
                        {{CLIENT_PHONE}}
                    </p>
                </div>
                <div style="flex:0.5; justify-content: flex-end">


                </div>
            </div>

        </div>


        <div class="headerTitle">
            Descripción
        </div>

        <div
            class="sectionContent"
            style="padding-bottom: 50px"
        >
            <div style="padding: 1em; border: 1px solid rgba(0,0,0,0.3); background-color:white;">
                <p>
                    Semana {{INVOICE_WEEK_RANGE}}
                </p>

                <div style="margin-top: 10px; display: flex">
                    <div style="flex: 1">

                        <p style="font-size:0.7em">
                            Total:
                        </p>

                    </div>

                    <div style="flex: 1; text-align: right">

                        <p style="font-size:0.7em">
                            ${{INVOICE_TOTAL}}
                        </p>
                    </div>

                </div>

                <div>
                    <p>Este monto ha sido pagado a su cuente en banco {{CLIENT_ACCOUNT_BANK_NAME}} num:
                        {{CLIENT_ACCOUNT_NUMBER}}</p>
                </div>

            </div>

        </div>
        <div
            class="headerTitle"
            style="position: absolute; bottom: 0; width: 100%; text-align:center"
        >
            www.zippimarket.com
        </div>

    </div>
</div>
</body>
</html>